.App {
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .card {
    flex-direction: column;
    min-width: fit-content;
    width: auto;
  }
}
